.order-card-container {
  display: flex;
  margin: 20px;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

.order-card-container-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-card-container-left > img {
  width: 125px;
}

.order-card-container-right {
  display: flex;
}

.order-card-elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.order-card-elements > div {
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

.order-card-elements > div > span {
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(201, 207, 209);
  padding: 0.25rem;
  font-weight: 600;
  margin: 0px 5px;
}

.order-card-cost {
  display: flex;
  align-items: center;
  padding: 20px;
}
